@model GCR.Web.Models.NewsViewModel
<div class="article" style="margin-bottom: 5em">
    <h3>
        @Html.ActionLink(@Model.Title, "Details", new { id = @Model.NewsId })
    </h3>
    <h5>Posted on @Model.CreatedDate
    </h5>
    <div>
        @Html.Raw(@Model.Article)
    </div>
</div>
